.contact {
  margin-top: 150px;  
  /* background-color: aquamarine; */
  /* margin: 0;
  padding: 0;
  width: 100%; */
  /* text-align: center; */
}
.head-contact h1 {
    font-family: "Prompt", serif;
    font-size: 20px;
}
.head-contact p {
    font-family: "Prompt", serif;
    font-size: 16px;
}
.head-contact .input-email {
    display: flex;
    flex-direction: row-reverse;

}
.head-contact input {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    float: left;
    margin-right: 10px;
    border-radius: 4px;
    border: #7D5A50 solid 0.5px;
    /* float: right; */
    
}
.head-contact button {
    width: 105px;
    height: 40px;
    font-size: 16px;
    border: none;
    /* float: right; */
}
.head-contact button:hover {
    background-color: white ;
    color:#7D5A50 ;
    transition: all 0.35s; 
}
.link-contact p a {
    color: #7D5A50;
    text-decoration: none;
}


