.for-women {
    height: 500px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    --bs-gutter-x : 0rem;
    margin-bottom: 100px;
    
}
.for-women p{
    text-decoration: underline;
    font-size: 24px;
}
.for-women p a{
    color: #7D5A50;
}
.for-women h1{
    font-size: 32px;
    color: #7D5A50;
    font-family: "Prompt", serif;
}
/* arrow */
.ep--arrow-left {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='m488.832 344.32l-339.84 356.672a32 32 0 0 0 0 44.16l.384.384a29.44 29.44 0 0 0 42.688 0l320-335.872l319.872 335.872a29.44 29.44 0 0 0 42.688 0l.384-.384a32 32 0 0 0 0-44.16L535.168 344.32a32 32 0 0 0-46.336 0'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    rotate: -90deg;
  }
.ep--arrow-right {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='m488.832 344.32l-339.84 356.672a32 32 0 0 0 0 44.16l.384.384a29.44 29.44 0 0 0 42.688 0l320-335.872l319.872 335.872a29.44 29.44 0 0 0 42.688 0l.384-.384a32 32 0 0 0 0-44.16L535.168 344.32a32 32 0 0 0-46.336 0'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    rotate: 90deg;
  }
  .arrow {
    display: flex;
    justify-content: space-around;
    font-size: 32px;
  }
  /* arrow */

  .for-women .slider4 {
    margin-top: 25px;
  }
  .for-women .slider4 .slide {
    /* margin-left: 125px !important ; */
    /* transform: translateY(50px) !important; */

  }
  .for-women .slider4 .slide a img{
    /* margin-left: 125px !important ; */
    width: 232px;
    height: 315px;
    /* margin-top: 0px !important; */
  }
  .for-women .slider4 .slide a img:hover {
  transform: scale(1.1);
  transition: all 0.35s;
  }
  .for-women .bx-viewport {
    width: 100%;
    height:365px !important;
    /* padding: 0 !important; */
    margin-top: 20px;
    
  }
  .slider4 .slide.active {
    transform: scale(1.1); /* ขยายภาพ active เป็น 
    120% */
    transition: all 0.35s;
  }
  div.bx-viewport {
    width: 100% !important;
    height: 315px !important;
    /* margin-left:20% !important; */
  }

  @media (min-width: 475px) {
    .discover-box {
      width: 490px;
      height: 500px;
      background-color: #7D5A50;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      /* overflow: hidden; */
      
    }
    .discover-box .content .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .discover-box h1 {
      color: aliceblue;
    }
    .discover-box p a{
      color: aliceblue;
    }
    .ep--arrow-right {
      color: aliceblue;
    }
    .ep--arrow-left {
      color: aliceblue;
    }
    .for-women {
      display: flex;
    }
    .container.for-women {
      display: flex;
      align-items: center;
      height: 600px;
      
    }
    .for-women .bx-viewport {
      margin: 0 !important;
    }
    div.bx-viewport {
      width:160% !important;
      height: 458px !important;
      margin-left:0 !important;
      padding: 0 !important;
      margin: 0 !important;
      /* overflow: hidden; */
      
    }
    .for-women .slider4 .slide a img{
      /* margin-left: 125px !important ; */
      /* width: 100%;
      height: 100%; */
      /* margin-top: 0px !important; */
    }
    .for-women .slider4 .slide {
      width: 291px !important;
      height:458px !important ;
      /* margin-top: -100px; */
  
    }
  }


  