.collection .img-lifewear img.main-img  {
    width: 85%;
    /* height: 100%; */
    /* margin-top: 500px; */
}
.collection .img-summer img.main-img {
    width: 85%;
    float: right;
}
.collection .img-lifewear img.second-img  {
    position: absolute;
    bottom: -30px;
    right: 100px;
    /* width: 100%; */
}
.collection .img-summer img.second-img  {
    position: absolute;
    bottom: -30px;
    left: 100px;
}

.collection .img-lifewear , .collection .img-summer {
    position: relative;
}
.collection {
    margin-bottom: 100px;
    margin-top: 50px;
}
.content-lifewear , .content-summer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-lifewear h4 ,.content-summer h4 {
    font-size: 32px;
    color: #7D5A50 ;
}
.content-lifewear button , .content-summer button{
    width: 200px;
    height: 54px;
    background-color: #7D5A50 !important;
    font-size: 32px;
    padding: 3px !important;
    font-weight: 300;
}
.content-lifewear button:hover ,.content-summer button:hover{
    background-color: #FFF9E3 !important;
    color: #7D5A50 !important;
    transition: all 0.35s;
}
.content-lifewear button:active ,.content-summer button:active{
    transform: scale(0.9);
}
.collection .summer {
    margin-top: 130px;
}
.content-lifewear-sm {
    display: none;
}
.main-img-sm {
    display: none;
}
@media (max-width : 475px) {

    /* lifewear */
    /* lifewear */
    /* lifewear */
    .lifewear {
        /* position: relative; */
    }
    .content-lifewear {
        position: absolute;
        display: none;
        bottom: 30px;
        height: 163px !important;
        /* width: 90% !important; */
        /* background-color: #7D5A50; */

    }    
    .img-lifewear .main-img {
        width: 100% !important;
        height: 430px !important;
    }
    .img-lifewear .second-img {
        display: none;
        
    }
    .content-lifewear-sm {
        display: block;
        position: absolute;
        /* left: 10px; */
        /* bottom: 30px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* left:100px; */
        width: 93.8% !important;
        text-align: center;
        background-color: #7D5A50;
        height: 163px;
        bottom: 0 !important;
        border-radius: 4px;
        position: absolute;
        right: 12px;
        left: 12px;
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4.2px);
        color: #FFF9E3;


    }
    .content-lifewear-sm button {
        width: 162px;
        height: 44px;
        background-color: #7D5A50;
        color: #FFF9E3;
        border: none;
        border-radius: 4px;
        transition: all 0.35s;
    }
    .content-lifewear-sm button:hover {
        background-color: #FFF9E3;
        border: #7D5A50 solid 1px !important;
        color: #7D5A50 !important;
    }
    
    .content-lifewear-sm button:active {
        transform: scale(0.9);
        /* color: #FFF9E3 !important; */
    }
 

    .main-img-sm {
        display: block;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .main-img {
        display: none;
    }
    .img-lifewear {
        overflow: hidden;
    }

    /* summer */
    /* summer */
    /* summer */
    .second-img {
        display: none;
    }
    .content-summer {
        display: none;
    }



    
}