
.carousel-item.design-gal {
    height: 378px;
    margin-top: 10px;
}
.carousel-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-caption h1 {
    font-size: 64px !important;
    font-weight: 300;
    margin-bottom: 25px;
}
.carousel-caption p  {
    font-size: 24px !important;
    font-weight: 300;
}
.carousel-caption h1 , .carousel-caption p {
    text-align: center;
}
.border-right {
    border-right :1px solid rgb(255, 255, 255);
}
.carousel-caption div.col a {
    color: white;
    text-decoration: none;
}
.carousel-caption div.col a:hover {
    color: #FFF9E3;

    
}
@media (max-width : 475px) {
    .carousel-item.design-gal {
        height: 274px;
    }
    .carousel-caption h1 {
        font-size: 32px !important;
        font-weight: 300;
        text-align: start;
        margin-bottom: 0;
    }
    .carousel-caption p  {
        font-size: 16px !important;
        font-weight: 300;
        text-align: start;
    }
    .carousel-caption {
        display: flex;
        flex-direction: column;
        align-items: start;
        
    }
    .container .carousel-caption {
        margin-left: -80px;
    }


}
