.content-style {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
    font-size: 24px;
    color: #FFF9E3;
    
}
.content-style h5 {
    font-weight: 300;
}
.popular-stlye {
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
}
.the-most-popular {
    margin-top: 30px;
}
.head-themost{
    /* text-align: center; */
    font-size: 48px;
    color: #7D5A50;
}
@media (max-width : 475px) {
    .head-themost{
        text-align: center;
        font-size: 32px;
    }
}