.product-item {
    width: 25%;
    height: 594px;
    padding: 0;
    position: relative;
    background-color: white;
    cursor: pointer;
    
}
.product-item img:active {
    transform: scale(0.8);
    transition: all 0.35s;
    border-radius: 100px;
}
.product-item img:active .detail h1{
    transform: scale(0.8);
    transition: all 0.35s;
  
}
.product-item img {
    width: 100%;
}
.product-item:hover {
    transform: scale(1.1);
    transition: all 0.35s;
    border: solid #7D5A50 0.5px;
    border-radius: 4px;
    z-index: 500;
}

.product-item .detail h1 {
    text-align: center;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #4A4A4A;
}

.product-item .detail p {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #7D5A50;
    text-align: center;
}
/* heart */
.mdi--heart--product {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #F4CB3F;
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 35px;
  }
  .mdi--heart--product:active {
    color: red;
  }
  /* heart */

@media (max-width: 475px) {
    .product-item {
        width: 50%;
        height: 426px;
        margin-bottom: 100px; 
    }
    .product-item .detail p , .product-item .detail h1 {
        font-size: 16px;
    }
    .product-item img {
        width: 100%;

    
    }
}